# Part I. ETL Pipeline for Pre-Processing the Files

## The below code will consolidate all csv files in event_data folder and creates one event_datafile_new.csv

    - Input File(s) : Event files dataset (of CSV format)
    - output        : Consolidated CSV file named as `event_datafile_new.csv`

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
#  printing current working directory path for verification
print(os.getcwd())

# append '/event_data' to current working directory path
filepath = os.getcwd() + '/event_data'

# for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# joining the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    
    # printing file_path_list for verification
    print(file_path_list)

/home/workspace
['/home/workspace/event_data/2018-11-30-events.csv', '/home/workspace/event_data/2018-11-23-events.csv', '/home/workspace/event_data/2018-11-22-events.csv', '/home/workspace/event_data/2018-11-29-events.csv', '/home/workspace/event_data/2018-11-11-events.csv', '/home/workspace/event_data/2018-11-14-events.csv', '/home/workspace/event_data/2018-11-20-events.csv', '/home/workspace/event_data/2018-11-15-events.csv', '/home/workspace/event_data/2018-11-05-events.csv', '/home/workspace/event_data/2018-11-28-events.csv', '/home/workspace/event_data/2018-11-25-events.csv', '/home/workspace/event_data/2018-11-16-events.csv', '/home/workspace/event_data/2018-11-18-events.csv', '/home/workspace/event_data/2018-11-24-events.csv', '/home/workspace/event_data/2018-11-04-events.csv', '/home/workspace/event_data/2018-11-19-events.csv', '/home/workspace/event_data/2018-11-26-events.csv', '/home/workspace/event_data/2018-11-12-events.csv', '/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-06-events.csv', '/home/workspace/event_data/2018-11-09-events.csv', '/home/workspace/event_data/2018-11-03-events.csv', '/home/workspace/event_data/2018-11-21-events.csv', '/home/workspace/event_data/2018-11-07-events.csv', '/home/workspace/event_data/2018-11-01-events.csv', '/home/workspace/event_data/2018-11-13-events.csv', '/home/workspace/event_data/2018-11-17-events.csv', '/home/workspace/event_data/2018-11-08-events.csv', '/home/workspace/event_data/2018-11-10-events.csv', '/home/workspace/event_data/2018-11-02-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [6]:
# printing the number of rows in consolidated csv file

with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print("Total records in consolidated event_datafile_new.csv file :  " + str(sum(1 for line in f)))

Total records in consolidated event_datafile_new.csv file :  6821

# Part II. Creating cassandra database sparkify for song data analysis. 

     - input     : Consolidated event_datafile_new.csv
     
     - output(s) : cassandra tables :
     
                   1. song_sessionId_itemInSession
                   2. song_userid_sessionid
                   3. song_user_name_first_last

## The event_datafile_new.csv contains the following columns: 
    - artist 
    - firstName of user
    - gender of user
    - item number in session
    - last name of user
    - length of the song
    - level (paid or free song)
    - location of the user
    - sessionId
    - song title
    - userId

###  Below steps are for Creating and setting KEYSPACE to sparkify.

#### Creating a Cluster

In [8]:
# connecting to a Cassandra instance on local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
try:
    cluster = Cluster()

    # creating session for cassandra local instance
    session = cluster.connect()
except Exception as e:
    print(e)

#### Creating Keyspace sparkify

In [9]:
# Creating a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace to sparkify

In [10]:
# Set KEYSPACE to sparkify
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Creating Cassandra tables to execute song data analysis requirements.

#### 1. extracting the artist, song title and song's length from music app history during  sessionId = 338 and itemInSession  = 4

In [11]:
query = "DROP TABLE IF EXISTS song_sessionId_itemInSession"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [12]:
# creating table song_sessionId_itemInSession with below columns
#     1.session_id
#     2.item_in_session
#     3.artist
#     4.song
#     5.length
#     primary key(session_id, item_in_session)

query = "CREATE TABLE IF NOT EXISTS song_sessionId_itemInSession"
query = query + "(session_id int, item_in_session int, artist text, song text, length float, primary key(session_id, item_in_session))"  
try:
    session.execute(query)
except Exception as e:
    print(e)

In [13]:
# Point file variable to the consolidated file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    
    # Looping for each line in the CSV file
    for line in csvreader:
        
        # Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO song_sessionId_itemInSession(session_id, item_in_session, artist, song, length) "
        query = query + "values(%s, %s, %s, %s, %s)"
        
        # Assigning column elements for each column in the INSERT statement.
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### extracting song details with sessionId = 338 and itemInSession  = 4

In [15]:
query = "select session_id, item_in_session, artist, song, length from song_sessionId_itemInSession where session_id = 338 and item_in_session  = 4"

try:
    selected_rows = session.execute(query)
except Exception as e:
    print(e)

# Looping thru the SELECT query results and displaying the output in console

for row in selected_rows:
    print (row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

#### 2. extracting name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [16]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

# creating table song_userid_sessionid with below columns
#     1.user_id
#     2.session_id
#     3.item_in_session
#     4.artist
#     5.song
#     6.first_name
#     7.last_name
#     PRIMARY KEY((user_id, session_id), item_in_session)

query = "CREATE TABLE IF NOT EXISTS song_userid_sessionid"
query = query + "(user_id int, session_id int, item_in_session int, artist text, song text, first_name text, last_name text, PRIMARY KEY((user_id, session_id), item_in_session))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [17]:
# Point file variable to the consolidated file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    
    # Looping for each line in the CSV file
    for line in csvreader:
        
        # Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO song_userid_sessionid(user_id, session_id, item_in_session, artist, song, first_name, last_name) "
        query = query + "values(%s, %s, %s, %s, %s, %s, %s)"
        
        # Assigning column elements for each column in the INSERT statement.
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1],line[4]))

In [19]:
query = "select user_id, session_id, item_in_session, artist, song, first_name, last_name from song_userid_sessionid where user_id = 10 and session_id = 182"
try:
    selected_rows = session.execute(query)
except Exception as e:
    print(e)

# Looping thru the SELECT query results and displaying the output in console

for row in selected_rows:
    print (row.artist, row.song, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

In [22]:
## Extracting every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

query = "DROP TABLE IF EXISTS song_user_name_first_last"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [23]:
## Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

# creating table song_user_name_first_last with below columns
#     1.song
#     2.user_id
#     3.first_name
#     4.last_name
#     primary key(song, user_id)

query = "CREATE TABLE IF NOT EXISTS song_user_name_first_last"
query = query + "(song text, user_id int, first_name text, last_name text, primary key(song, user_id))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [24]:
# Point file variable to the consolidated file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    
    # Looping for each line in the CSV file
    for line in csvreader:
        
        # Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO song_user_name_first_last(user_id, song, first_name, last_name) "
        query = query + "values(%s, %s, %s, %s)"
        
        # Assigning column elements for each column in the INSERT statement.
        session.execute(query, (int(line[10]), line[9], line[1],line[4]))

In [28]:
## selecting users who listened to the song 'All Hands Against His Own'

query = "select user_id, song, first_name, last_name from song_user_name_first_last where song = 'All Hands Against His Own'"
try:
    selected_rows = session.execute(query)
except Exception as e:
    print(e)

# Looping thru the SELECT query results and displaying the output in console
for row in selected_rows:
    print (row.first_name,',', row.last_name)

Jacqueline , Lynch
Tegan , Levine
Sara , Johnson

### Dropping the tables before closing out the sessions

In [29]:
## Dropping the table song_sessionId_itemInSession before closing out the session

query = "DROP TABLE song_sessionId_itemInSession"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [30]:
## Dropping the table song_userid_sessionid before closing out the session

query = "DROP TABLE song_userid_sessionid"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [31]:
## Dropping the table song_user_name_first_last before closing out the session

query = "DROP TABLE song_user_name_first_last"
try:
    session.execute(query)
except Exception as e:
    print(e)

### Closing the session and cluster connectionÂ¶

In [32]:
session.shutdown()
cluster.shutdown()